@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

li{
    list-style: none;
}

.dia{
    font-size: 1.5rem;
}

.cajon i{
    font-size: 4rem;
    margin: 2rem 0 2rem 0;
}


.wrapper{
    position: relative;
    min-height: 100vh;
    background: #232526;  
    background: -webkit-linear-gradient(to left, #292a2a, #232526);  
    background: linear-gradient(to left, #292a2a, #232526);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.horizontal{
    display: flex;
    height: 100%;
    width: 100%;
}

.cajon{
    display: flex;
    flex-direction: column;
    padding: 0px 10px 0 10px;
    align-items: center;
    width: 100%;
}

footer{
    text-align: center;
    padding: 2rem 0 1rem;
}

.container{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo button a{
    font-size: 2rem;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

.logo button{
    background-color:#272822; 
    border: none;
    border-radius: 25px;
    transition: .5s;
}

.logo button:hover {
    color: #FFEE7D;
    box-shadow: 0 0 3px #FFEE7D;
    text-shadow: 0 0 3px #FFEE7D;
}

.menu li{
    display: inline;
    margin-right: 6rem;
}

.menu li a{
    color: white;
    text-decoration: none;
    font-size: 1.15rem;
    border-radius: 25px;
    padding: 10px;
}

.menu li a:hover{
    color: #FFEE7D;
    box-shadow: 0 0 3px #FFEE7D;
    text-shadow: 0 0 3px #FFEE7D;
}

.nombres{
    color: #4B5052;
    font-size: 1.25em;
}

.listaf li {
    list-style: none;
    display: inline;
    padding: 5px;
}

.listaf li a{
    text-decoration: none;
    color: #4B5052;
    font-size: 2rem;
    padding-top: .4rem;
}

.listaf li a:hover{
    color: #FFEE7D;
    text-shadow: 0 0 2px #FFEE7D;
    transition: .7s ease;
}